/web/bundles/
/web/bundles/
/web/uploads/
/web/js/
/web/css/
/web/media/
/web/.htaccess
/web/app_dev.php
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/.idea/